<% content_for :css do
    stylesheet_link_tag 'succes'
end %>

  <div id=div-return>
 
  
  <a href="/" class="button-3d" id="return"><i class="material-icons md-48">
    undo
</i></a>
  
 </div>
   
      <center>
      <div id="body-btn">
        <a href="/grilles" class="button-3d">REJOUER</a>
      </div>
    </center>
    

<div id="fake-body">
<section class="container">
  <h1 id="h1-mob">
    <span class="title">&nbsp  &nbsp Grille &nbsp &nbsp</span>
    <span class="title">&nbsp  &nbsp Validée &nbsp &nbsp</span>
    
    <span class="title"><%= current_user.max_grilles - current_user.jouer_grilles %>  restantes</span>
  </h1>
  
  
</section>
</div>

  
  