// Place all the styles related to the grilles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ligne1{
    width: 100%;
}
body{
    background-color: #330220;
}
#balance{
    color:white;
    position: absolute;
    top: 1%;
    right : 1%;
    font-size : 6em;
}