// Place all the styles related to the tirages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .num , .exp {
     font-size: 2.1em;
 }
 
 #info-pic {
    height: 4em;
    width: 4em;
    margin: 0;
    padding: 0;
 }
 
 #info {
      border-radius: 50%;
      height: 4em;
        width: 4em;
      margin: 0;
    padding: 0;
 }
 section{
     margin-top: 1em;
 }
 h1 {
     font-size: 4em;
 }
 h2 {
     font-size: 3em;
 }